/*  your css code here. If applicable */
div{
	height:400px;
	width:400px;
	background-color:lightblue;
	border:2px solid black;
	position:absolute;
	left:30vw;
	top:30vh;
	margin:0;
}
p{
	font-size:25px;
	color:purple;
	position:absolute;
	left:120px;
	top:150px;
}